.GameContainer {
    width: 600px;
    display: block;
    margin: 3rem auto;
}

.GameContainer h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.ArtistSelector, .MusicPlayer {
    display: grid;
    flex-direction: row;
    align-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    align-items: center;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 130px;
}

.MusicPlayer {
    grid-template-columns: 3;
    grid-gap: 1rem;
    min-width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

.MusicPlayer h2 {
    text-align: center;
    grid-column: 1 / 4;
    margin-bottom: 0.5rem;
}

.MusicPlayer button {
    border-radius: 100%;
    width: 5rem;
    aspect-ratio: 1;
    margin-inline: auto;
}

.ArtistSelector {
    grid-gap: 1rem;
    min-width: 100%;
    height: 100%;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
}

.ArtistSelector h2 {
    text-align: center;
    grid-column: 1 / 3;
}

.ArtistSelector button {
    border-radius: 5px;
    padding: 20px 50px;
    width: 90%;
    margin-inline: auto;
}

.Timer {
    margin: 2rem auto;
    width: 5rem;
    height: 5rem;
    border: 1px solid red;
    border-radius: 100%;
}
.Timer p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    transform: translateY(-60%);
    font-size: 3rem;
}